
 *{
    margin: 0;
    padding: 0;
 }
 
.saved-header{
    display: flex;
    flex-direction: row;
  
     font-size: 36px;
  font-weight: bold;
    color: #166fe5;

}


.containerDiv{
 

      display: flex;
  flex-wrap: wrap;        
  gap: 20px;            
  padding: 20px;
  justify-content: center;


}
.post{
     background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; 

 width: 450px;
   
}


 

#saved-container{
    display: flex;
    flex-direction: column;
   
    min-height: 100vh;
    background-color:whitesmoke;
}
#saved-container h1{ 
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    
    margin: 30px 30px 0 15px;
    padding: 20px 20px 10px 0;
      
  font-weight: bold;
  margin-bottom: 8px;

}
#saved-container p{
     font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    
    padding: 10px 20px 20px 0;
    opacity: 0.6;
    font-size: 14px;

}
#saved-container img{
 
  
  height: 200px;
  object-fit: cover;
  background: #f4f4f4; 
  display: block;
    width: 100%;
 
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  background-color:rgb(202, 198, 198);
}

.no-posts-p{
    display: inline;
    align-self: center;
    font-size: 1.125rem;
   
    opacity: 0.6;
    padding: 10px;
    margin-top:20px;
    
}


.saved-post-link{
    cursor: pointer;
     text-decoration: none;
    color: black;
   
}


.user-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  
  
  
}
.user-info{
   margin-top: 20px;

}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #166fe5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-info h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.user-header p {
  margin: 0;
  font-size: 12px;
  color: gray;
}
.like-div{
  display: inline;
  width: 40px;
  height: 30px;
   margin: 10px 5px 10px 5px;
  padding: 10px;
  color: red;
border-radius: 10px;
cursor: pointer;
}
.like-div:hover{
  background-color: #166fe5;
  color: white;

}
.comment-div{
  display: inline;
  width: 40px;
  height: 30px;
  margin: 10px 5px 10px 5px;
  padding: 10px;

border-radius: 10px;
cursor: pointer;
}
.comment-div:hover{
  background-color: #166fe5;
  color: white;
}

.comment-input{
  min-height: 50px;
  padding: 10px 12px;
  margin: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;


}
.comment-input:focus{
    border-color: #166fe5;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);

}
.add-comment-btn{

  background-color: #166fe5;
  color: white;
  padding: 12px;
  margin: 5px;
  border: none;
  border-radius: 10px ;
  cursor: pointer;
  

}
.add-comment-btn:hover{
  background-color: #1670e5ce;
}

.comment-item{
  border-radius: 10px ;
  background-color: whitesmoke;
  margin: 5px;
 padding: 5px;
}



